---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Smagsglimt from "../components/Smagsglimt.astro";
import Newsletter from "../components/Newsletter.astro";
import { Image } from "astro:assets";
import left from "../assets/images/left4.png";
import right from "../assets/images/right3.png";
import pcBlue from "../assets/images/pc_blue.svg";
import pakkeBlue from "../assets/images/pakke_blue.svg";
import beerBlue from "../assets/images/beer_blue.svg";
import yellowArrow from "../assets/images/yellow_arrow.svg";
import hygge from "../assets/images/hygge.webp";
import Gave from "../assets/images/gave.png";
---

<MainLayout title="Forside" description="Hos MaltClub vil vi udbrede kendskabet til god øl fra bryghuse med noget på hjertet. Med et MaltClub abonnement sammensætter vi hver måned en kasse med forskellige øl og sender dem direkte til din hoveddør. Vi håber på at kunne medvirke til at udvide din horisont omkring kvalitetsøl, og glæder os til at levere din næste MaltClub ølpakke." ogtitle="MaltClub - din månedlige dosis af kvalitetsøl" ogdescription="Udvid din horisont indenfor kvalitetsøl med et MaltClub abonnement!">
	<section class="relative mouse_move md:grid md:grid-cols-2 justify-between border-b-small border-colors-blue-400">
		<section class="text-center md:grid items-center">
			<div class="md:grid text-center items-center">
				<h1>MaltClub</h1>
				<h3 class="normal-case pb-lg">Din månedlige dosis af <br /> kvalitetsøl</h3>
				<a href="/listview"><Button variant="primary" size="large">Køb abonnement</Button></a>
			</div>
		</section>
		<section class="mouse_move relative w-full md:w-full h-[50vh] md:h-[85vh] grid md:grid-cols-2 overflow-x-hidden bg-no-repeat bg-cover bg-center" style="background-image: url('/hero_forside4.webp'); width:854.333px height:526.433px">
			<Image src={left} alt="malt og humle" class="hidden md:block mouse absolute md:col-start-1 left-[10%] translate-y-[-50%]" value="5" format="webp" />
			<Image src={right} alt="malt og humle" class="hidden md:block mouse absolute md:col-start-2 right-[10%] translate-y-[-50%]" value="-5" format="webp" />
		</section>
		<Image src={yellowArrow} alt="pil ned" class="absolute bottom-xs left-[40%] md:left-[47%] z-10 shake-vertical" />
	</section>

	<!-- Hvad er MaltClub -->
	<section class="pt-3xl maltclub">
		<article class="flex flex-col items-center">
			<div class="w-full max-w-3xl px-s md:px-0">
				<h2 class="pb-sm text-left">Hvad er MaltClub</h2>
				<p class="pb-3xl text-left">MaltClub er for dig, der elsker øl med karakter og historie. Hver måned sammensætter vi en kasse med nøje udvalgte specialøl fra danske og udenlandske bryggerier, alle ledsaget af inspirerende fortællinger om bryghusene bag. Vi leverer direkte til din dør eller pakkeshop, så du kan udforske nye smagsoplevelser og dele dem med venner og familie. Fra kun 275 kr. om måneden får du kvalitetsøl, der udvider din ølhorisont - én kasse ad gangen.</p>
			</div>
			<h3 class="pb-xl">Din ølrejse starter her</h3>
		</article>

		<section class="md:flex items-center justify-center gap-lg">
			<article class="flex flex-col items-center pb-sm">
				<Image src={pcBlue} alt="stregtegning af computer" class="w-auto h-auto" />
				<h4>Bestil</h4>
				<p class="text-center">Vælg det øl-abonnement der <br /> passer bedst til dig.</p>
			</article>
			<article class="flex flex-col items-center pb-sm">
				<Image src={pakkeBlue} alt="stregtegning af pakke" />
				<h4 class="pt-s">Modtag</h4>
				<p class="text-center">Læn dig tilbage og glæd dig til at <br /> modtage din ølpakke.</p>
			</article>
			<article class="flex flex-col items-center pb-sm">
				<Image src={beerBlue} alt="stregtegning af to øl der skåler" />
				<h4 class="pt-s">Nyd</h4>
				<p class="text-center">Nyd dine kvalitetsøl i godt <br /> selskab.</p>
			</article>
		</section>
		<div class="flex justify-center pt-2xl pb-6xl">
			<a href="/om_os"><Button variant="secondary" size="small">Mere om os</Button></a>
		</div>
	</section>

	<!-- Øl er lig med hygge -->
	<section class="grid md:grid-cols-2 border-small border-colors-blue-400 mb-6xl hygge">
		<Image src={hygge} alt="hej" loading="lazy" class="border-r-small border-colors-blue-400" />
		<article class="flex flex-col px-sm md:px-3xl justify-center md:py-0 py-ml">
			<h3 class="pb-xxs">øl er lig med hygge</h3>
			<p class="italic pb-sm">Del smagsoplevelsen med dem du holder af</p>
			<p>Saml vennerne, og gør øl til noget særligt! Med vores ølpakker handler det ikke bare om at nyde kvalitetsøl, men om at skabe stunder, der bringer jer tættere sammen. Hver måned modtager I en unik samling af håndplukkede specialøl – perfekte til hyggelige aftener fyldt med grin, gode samtaler og fælles smagsoplevelser. Lad ølpakkerne blive en månedlig tradition, hvor fællesskab og hygge er i centrum.</p>
		</article>
	</section>

	<!-- Abonnement sektion -->
	<section class="text-center pb-6xl abonnement">
		<h2 class="text-center pb-sm">Abonnementer</h2>
		<article class="md:grid grid-cols-4 mx-auto px-xxs pb-xl">
			<Card cardimage="/beer_presentation_maisel2.png" cardimagehover="/MaltClubXL_beers.png" navn="Maltclub XL" antal="9-11" pris="465" bestseller="true" />
			<Card cardimage="/beer_presentation_enommer2.png" cardimagehover="/MaltClub_beers.png" navn="Maltclub" antal="5-6" pris="275" />
			<Card cardimage="/beer_presentation_ebeltoft2.png" cardimagehover="/MaltClub_beers.png" navn="Maltclub uden IPA" antal="5-6" pris="275" />
			<Card cardimage="/beer_presentation_rochefort2.png" cardimagehover="/gave.png" navn="Gaveabonnement" antal="5-6" pris="275" />
		</article>
		<a href="/listview"><Button variant="primary" size="large">Gå til abonnementoversigt</Button></a>
	</section>

	<!-- Tidligere kasser -->
	<section class="text-center px-s pb-6xl tidligere">
		<h2 class="pb-sm">Smagsglimt fra tidligere kasser</h2>

		<article class="md:grid md:grid-cols-5 border-b-small border-colors-blue-400 md:border-none">
			<Smagsglimt cardimage="/mikeller.png" cardimagealt="christmas classic fra mikeller" navn="MIKELLER XMAS CLASSIC" type=" VIENNA LAGER" bryggeri=" Mikeller" land=" Danmark" alkoholprocent=" 5,6%" beskrivelse="Xmas Classic er Mikkellers hyldest til den mest almindelige øltype i Danmark - Vienna Lager. En skøn let humlet pilsner som er let drikkelig." />
			<Smagsglimt cardimage="/mad scientist.png" cardimagealt="wolf gang fra mad scientist" navn="MAD SCIENTIST WOLF GANG" type=" LAGER - IPL" bryggeri=" Mad Scientist" land=" Ungarn" alkoholprocent=" 6%" beskrivelse="Wolf Gang har en høj intensitet på humle samt en frisk orange-rød kulør. Ret anderledes og nytænkede lager sammenlignet med de traditionelle." />
			<Smagsglimt cardimage="/electricity supply.png" cardimagealt="electricity supply board fra white hag og cloudwater" navn="ELECTRICITY SUPPLY BOARD" type=" BITTER ENGLISH ALE" bryggeri=" The white hag & Cloudwater" land=" Irland & England" alkoholprocent=" 6%" beskrivelse="En bitter english ale. Øllen har en brændt rød farve med et klar og cremet hvid skum. Smagen bærer noter af karamel og malt." />
			<Smagsglimt cardimage="/hop bullet.png" cardimagealt="hop bullet fra sierra nevada" navn="SIERRA NEVADA HOP BULLET" type=" DOUBLE IPA" bryggeri=" Sierra Nevada" land=" USA" alkoholprocent=" 8%" beskrivelse="På trods af sin relative høje alkoholprocent er Hop Bullet en ganske let drikkelig øl. Humle smagen og bitterheden fornemmes tydeligt i øllen." />
			<Smagsglimt cardimage="/thunder juice.png" cardimagealt="apocalyptic thunder juice fra amundsen" navn="APOCALYPTIC THUNDER JUICE" type=" NEW ENGLAND IPA" bryggeri=" AMUNDSEN" land=" Norge" alkoholprocent=" 6,5%" beskrivelse="Tropisk sød frugtagtig smag med toner af ananas, appelsin, mango og melon med en bitter finish." />
		</article>
	</section>

	<!-- Nyhedsbrev -->
	<section class="pb-6xl nyhedsbrev">
		<Newsletter />
	</section>

	<!-- Gave sektion -->
		<section class="grid md:grid-cols-2 border-small border-colors-blue-400 gave">
			<Image src={Gave} format="webp" loading="lazy" alt="gaveabonnement" class="border-r-small border-colors-blue-400"/>
			<article class="flex flex-col px-sm md:px-2xl justify-center md:py-0 py-ml">
				<h3 class="pb-xxs">Den perfekte gave til ølelskeren</h3>
				<p class="pb-lg">Overrask ølelskeren i dit liv med et gaveabonnement på vores ølkasser. Du bestemmer selv, hvor mange måneder modtageren skal forkæles med spændende, håndplukkede øl. Når perioden er slut, stopper abonnementet automatisk, så det er en gave uden besvær. Med MaltClub får modtageren ikke bare øl - de får en oplevelse, en smagsrejse og noget at glæde sig til hver måned. Ingen binding, ingen bekymringer - bare ren øl-lykke!</p>
				<div class="">
					<a href="/singleview"><Button variant="long" size="long" class="">køb nu</Button></a>
				</div>
			</article>
		</section>
	
</MainLayout>

<script type="text/javascript">
document.addEventListener("mousemove", parallax);
function parallax(event) {
	this.querySelectorAll(".mouse").forEach((shift) => {
		const position = shift.getAttribute("value");
		const x = (window.innerWidth - event.pageX * position) / 90;
		const y = (window.innerHeight - event.pageY * position) / 90;
		shift.style.transform = `translateX(${x}px) translateY(${y}px)`;
	});
}
</script>
<script>
	import { inView } from "motion";

	const maltclub = document.querySelector(".maltclub");

	inView(maltclub, () => {
		maltclub.classList.add("animate__animated", "animate__fadeIn", "animate__delay-1s");
	});

	const hygge = document.querySelector(".hygge");

	inView(hygge, () => {
		hygge.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});

	const abonnement = document.querySelector(".abonnement");

	inView(abonnement, () => {
		abonnement.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});

	const tidligere = document.querySelector(".tidligere");

	inView(tidligere, () => {
		tidligere.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});

	const nyhedsbrev = document.querySelector(".nyhedsbrev");

	inView(nyhedsbrev, () => {
		nyhedsbrev.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});

	const gave = document.querySelector(".gave");

	inView(gave, () => {
		gave.classList.add("animate__animated", "animate__fadeIn", "animate__delay-0.5s");
	});


</script>
