---
const { cardimage = "", cardimagealt = "", navn = "", antal = "", pris = "", cardimagehover = "", cardimagehoveralt = "", bestseller="", } = Astro.props;
import Button from "./Button.astro";
---

<article class="@container border-y-small border-x-0 border-l-small border-colors-blue-400">
	<a href="/singleview" class="flex flex-col">
		<section class="relative pt-sm text-center">
			{(bestseller === "true") && <div class="absolute -rotate-45 bg-colors-green-500 px-s [clip-path:polygon(20%_0%,80%_0%,100%_100%,0_100%)] top-[1.35rem] left-[-1.7rem] font-sans text-colors-blue-500 font-semibold">Bestseller</div>}
			<h3 class="text-center pb-xs">{navn}</h3>
			<p class="text-center pb-xxs"><span>{antal}</span><span> øl om måneden</span></p>
			<p class="text-center pb-s"><span>{pris}</span><span> kr.</span></p>
			<a href="/singleview"><Button variant="primary" size="small" class="place-content-center py-ml">Abonnér</Button></a>
		</section>
		<a href="/singleview">
			<section class="group relative mx-auto aspect-[7/7]">
				<img src={cardimage} alt={cardimagealt} class="absolute inset-0 object-cover w-full h-full px-sm transition-opacity duration-200 group-hover:opacity-0" />
				<img src={cardimagehover} alt={cardimagehoveralt} class="absolute inset-0 object-cover w-full h-full px-s transition-opacity duration-200 opacity-0 group-hover:opacity-100" />
			</section>
		</a>
	</a>
</article>
